{% extends "base.html" %}
{% block content %}

 <h1>Thanks for vising Oscar's portfolio</h1>
 <p>On this site, you can view projects I worked on and articles. </br>
     However, due to hosting issues I limited this to few writeups other project can be found on my github.</br>
     Contact me for more information.</br>


 </p>

 <p>I enjoy travelling, hence, I added a part where peope can add the places they vised.</br>
     User can view other groups and comment as well as sharing their own experience too. 
 </p>

{% endblock %}